body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Rubik", "Arial";
}

.SkeletonContainer{
    width: 620px;
    height: 480px;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 2px 20px -5px rgba(0, 0, 0, 0.8);
    background: white;
}

.SkeletonImg {
    box-sizing: border-box;
    display: block;
    width: 335px;
    height: 100%;
    background: #FAFAFA;
    padding: 16px;
}

.SkeletonPaletteImage {
    width: 285px;
    height: 100%;
    margin: 1px;
}

.SkeletonButton {
    background: #FAFAFA;
    width: 117px;
    padding: 15px;
    position: fixed;
    top: 22%;
}

.skeleton {
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    -webkit-animation: shine 1s ease infinite;
    animation: shine 1s ease infinite;
}
.skeletonColor {
    background-color: #f7f7f7;
    background-image: linear-gradient(90deg, rgba(226, 11, 11, 0), rgba(239, 239, 239, 0.81), rgba(255, 255, 255, 0.61));
    background-size: 40px 100%;
    background-position: left -40px top 0;
    animation: shine 7s cubic-bezier(0.57, 0.06, 0.42, 1.04) infinite;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

@-webkit-keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}