//Variables
$medium: 768px;
$large: 1024px;

//Styles
* {
  box-sizing: border-box;
}

.palette-generator-swatches {
  width: 100%;
  text-align: center;
  margin: -16px 0 0 0;

  ul {
    list-style: none;
    padding: 0;

    @media screen and(min-width: $medium) {
      flex-wrap: nowrap;
    }

    li {
      cursor: pointer;
      font-size: 12px;


      @media screen and(min-width: $medium) {
        width: auto;
      }

      &:active {
        .swatch {
          opacity: 0.8;
        }
      }

      .swatch {
        width: 100%;
        display: block;
        height: 80px;
        transition: all 0.2s ease-in;
      }
    }
  }
}

button {
  appearance: none;
  text-align: center;
  padding: 8px 36px;
  text-transform: lowercase;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #000;
  cursor: pointer;
  font-size: 12px;
  background-size: 200% 100%;
  animation: buttonAnimation 8s linear infinite;

  @media screen and(min-width: $medium) {
    padding: 5px 10px;
    margin: 0 0 17px 0;
  }

  &:hover,
  &:focus {
    animation-play-state: paused;
    outline: none;
  }
}


//Animations
@keyframes buttonAnimation {
  0% {
    background-position: 0 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}